<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355397187658-eanhl9lh98qbpq51kvi0sjueefdvj9ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355397187658-eanhl9lh98qbpq51kvi0sjueefdvj9ip</string>
	<key>API_KEY</key>
	<string>AIzaSyCthcYGworIjufk_4Aw0BaVQkqoKGezgB4</string>
	<key>GCM_SENDER_ID</key>
	<string>355397187658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>subhransu.hotelapp</string>
	<key>PROJECT_ID</key>
	<string>hotel-550b6</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-550b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355397187658:ios:820c568ced0304d82d0eb3</string>
</dict>
</plist>